<div ng-controller="secondCtrl">

    <header class="container">
      <div class="two columns">
        <img id="logo" src="images/usarialogo.png" />
      </div>
      <div class="fourteen columns">
        <h1 id="title">herramienta para medir el uso del espacio</h1>
      </div>
    </header>

		<div class="hr"></div>

    <div id="theFirst">
    <div  class="container">
      <div class="sixteen columns">
        <h2>¿Cómo funciona?</h2>
      </div>
			<div class="sixteen columns">
				<div class="hr"></div>
			</div>
			<div class="four columns">
				<div class="iconColumn">
					<p class="numberIcon">1</p>
				</div>
				<div class="instructionColumn">
					<p>Selecciona la imagen que deseas evaluar</p>
					<button class="submitButton" type="submit">Selecciona un archivo</button>
					<label>No se ha cargado ningún archivo</label>
					<input id="submitImageInput" type="file">
				</div>
				<hr>
				<div class="iconColumn">
					<p class="numberIcon">2</p>
				</div>
				<div class="instructionColumn">
					<p class="shorter">Selecciona el área que deseas examinar</p>
					<img class="shorterIcon" src="images/selectIcon.svg" />
				</div>
				<hr>
				<div class="iconColumn">
					<p class="numberIcon">3</p>
				</div>
				<div class="instructionColumn">
					<p>Selecciona el tipo de contenido</p>


					<select ng-model="selectedFilter">
						<option value="" selected disabled>Seleccionar</option>
						<option>OS y controles del navegador (Aqua)</option>
						<option>Bienvenida e identidad del sitio (Amarillo)</option>
						<option>Navegación (Naranja)</option>
						<option>Contenido de interés (Verde)</option>
						<option>Publicidad y patrocinio (Rojo)</option>
						<option>Autopromoción (Morado)</option>
						<option>Relleno (Gris)</option>
						<option>Sin uso (Crema)</option>
					</select>
					<button id="evaluateButton" type="submit">Evaluar</button>
					<a class="eraseFilters" href="#">Borrar todos los filtros</a>
				</div>
			</div>
      <div class="twelve columns">
        <div id="imgContainer" class="imageHolder">
        </div>
      </div>

    </div>
    </div>
    <hr style="margin: 0;">

    <div id="theSecond">
    <div class="container">
      <div class="sixteen columns">
        <h2>Áreas seleccionadas</h2>
      </div>
      <div class="six columns">
        <ul>
          <li><p>OS y Controles del navegador (Aqua): 0.00%</p></li>
          <li><p>Bienvenida e identidad del sitio (Amarillo): 0.00%</p></li>
          <li><p>Navegación (Naranja): 0.00%</p></li>
          <li><p>Contenido de interés (Verde): 0.00%</p></li>
          <li><p>Publicidad y patrocinio (Rojo): 0.00%</p></li>
          <li><p>Autopromoción (Morado): 0.00%</p></li>
          <li><p>Relleno (Gris): 0.00%</p></li>
          <li><p>Sin uso (Crema): 0.00%</p></li>
        </ul>
      </div>

      <div class="ten columns">
      </div>
    </div>
  </div>

  <div id="theThird">
    <div class="container">
      <div class="sixteen columns">
				<h2>Acerca de</h2>
				<hr>
        <p>Herramienta desarrollada por CortesSalamanca con uso de servidor por cortesía de Usaria, consultoría en usabilidad y
experiencia de usuario en México y Colombia.</p>
      </div>
    </div>
  </div>

		<footer>
			<div class="hr"></div>
			<div class="container">
				<div class="address three one-third column">
					<div>
						<h3>México norte</h3>
						<p>Blvd. Díaz Ordaz #130 Piso 10,</p>
						<p>Col. Santa María Monterrey, NL.</p>
						<p>Tel. +52 (81) 8851-82-33</p>
					</div>
				</div>
				<div class="address three one-third column">
					<div>
						<h3>México centro-sur</h3>
						<p>Privada 3B Sur 3914-2,</p>
						<p>Col. Gabriel Pastor Puebla, Puebla.</p>
						<p>Tel. +52 (222) 237-35-19</p>
					</div>
				</div>
				<div class="address three one-third column">
					<div>
						<h3>Colombia</h3>
						<p>Calle 93 # 11 a - 28 Oficina 601,</p>
						<p>Bogotá, Distrito Capital.</p>
						<p>Tel. +57 (1) 756-05-32</p>
					</div>
				</div>
				<div class="disclaimer sixteen columns">
					<p>Usaria, consultoría en usabilidad y experiencia de usuario. Derechos Reservados 2011</p>
					<p>
						<a href="#">Políticas de privacidad</a>
						|
						<a href="#">Términos y Condiciones de Uso</a>
						|
						<a href="#">Acerca De</a>
						|
						<a href="#">Oportunidades Laborales</a>
						|
						<a href="#">Preguntas Frecuentes</a>
					</p>
				</div>
			</div>
		</footer>








</div>
